#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-bottom: 12px;
  text-align: center;
}

.logo {
  height: 3em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.credit {
  color: #fff;
  display: flex;
  justify-content: center;
}
